*.env
compose/data/configs/users/env
compose/data/configs/users/group
compose/data/configs/users/gshadow
compose/data/configs/users/passwd
compose/data/configs/users/shadow
compose/data/nginx/conf.d/*
compose/data/configs/phpmyadmin/*.php
compose/data/configs/mysql/*.sql
compose/data/configs/nginx/conf.d/nzc.conf
compose/data/configs/portainer/users.json
compose/data/configs/portainer/teams.json
compose/data/configs/nginx/snippets/private/
compose/data/configs/nginx/snippets/ssl.conf
compose/data/configs/rsyslog/rsyslog.conf
build_docker
