*.env
compose/data/configs/users/*
compose/data/nginx/conf.d/*
compose/data/configs/mysql/init.sql
compose/data/configs/nginx/conf.d/nzc.conf
compose/data/configs/portainer/users.json
compose/data/configs/portainer/teams.json
compose/data/configs/nginx/snippets/private/
build_docker
