ACME_DNS_DNS_PORT=5300
ACME_DNS_HTTP_PORT=1800
ACME_DNS_HTTPS_PORT=4400
PORTAINER_PORT=9443
REDIS_PORT=6379
SEARXNG_PORT=8080
RSYSLOG_PORT=514
SSH_PORT=8822
MYSQL_PORT=3306
GMOD_1_PORT=27015
GMOD_2_PORT=27016
GMOD_3_PORT=27017
SVENCOOP_PORT=1337
