TC_HTTP_PORT=4080

RSYSLOG_PORT=514

PORTAINER_PORT=9443

SSH_PORT=8822

MYSQL_PORT=3306

GMOD_ALPHA_1_PORT=27015
GMOD_ALPHA_2_PORT=27016
GMOD_ALPHA_3_PORT=27017
GMOD_BRAVO_1_PORT=27025
GMOD_CHARLIE_1_PORT=27035

SVENCOOP_1_PORT=27115
SVENCOOP_2_PORT=27116

SYNERGY_PORT=27215

HL2DM_ALPHA_1_PORT=27315
HL2DM_BRAVO_1_PORT=27325

ARK_1_QUERY_PORT=27415
ARK_1_PORT=7777

# Unless you're using the optional profile, don't even worry about these
REDIS_PORT=6379
SEARXNG_PORT=8080
