DISCORD_STICKY_BOT_TOKEN="bot's token here"
DISCORD_SERVER_STATUS_BOT_TOKEN="bot's token here"

# Steam Server Login Tokens, required for some dedicated servers 
# to function correctly. View them here: https://steamcommunity.com/dev/managegameservers
GMOD_ALPHA_1_LOGIN_TOKEN=""
GMOD_ALPHA_2_LOGIN_TOKEN=""
GMOD_ALPHA_3_LOGIN_TOKEN=""
GMOD_BRAVO_1_LOGIN_TOKEN=""
GMOD_CHARLIE_1_LOGIN_TOKEN=""
SVENCOOP_1_LOGIN_TOKEN=""
SVENCOOP_2_LOGIN_TOKEN=""
SYNERGY_LOGIN_TOKEN=""
