DISCORD_STICKY_BOT_TOKEN="bot's token here"

# Steam Server Login Tokens, required for dedicated servers to function correctly
# View them here: https://steamcommunity.com/dev/managegameservers
GMOD_1_LOGIN_TOKEN=""
GMOD_2_LOGIN_TOKEN=""
GMOD_3_LOGIN_TOKEN=""
SVENCOOP_LOGIN_TOKEN=""
