ADMIN_EMAIL="optional email here"
ADMIN_PASSWORD=""

# Passwords for game servers. They are used for RCON as well as database access.
# Only RCON should be available outside of containers.
GMOD_PASSWORD=""
SVENCOOP_PASSWORD=""

# Custom users AKA your staff members
DOORMATT_PASSWORD=""
BLUNTO_PASSWORD=""
BERB_PASSWORD=""
PEPE_PASSWORD=""
FREEMAN_PASSWORD=""
