ADMIN_EMAIL=""
ADMIN_PASSWORD=""

# Internal passwords (cannot be used outside of containers)
# These are intended for server scripts so they can connect to databases and stuff
GMOD_PASSWORD=""
SVENCOOP_PASSWORD=""

# Custom users AKA your staff members
DOORMATT_PASSWORD=""
BLUNTO_PASSWORD=""
BERB_PASSWORD=""
PEPE_PASSWORD=""
FREEMAN_PASSWORD=""
